MONGO_URI=mongodb://localhost:27017/inneed
JWT_SECRET=GY/zdcbvlZOs4VNeFatUR8vh9m6BpjAGlLTDhI4uAsahbkiCJo2TyAcPsEvY/549vrUZvLahnsJ/QOotyfx3aw==
JWT_EXPIRES_IN=7d
PORT=5000
CLIENT_URL=http://localhost:5173
